{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>{% block title %}Fitness{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg my-2 bg-secondary rounded sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand bg-primary opacity-75 m-1 p-1 rounded" href="{% url 'home' %}"><img class="img-thumbnail" style="height: 45px;" src="https://i.imgur.com/m91WSGf.png" alt=""></a>
          
          {% if user.is_authenticated %}
          <div class="d-grid gap-2 col mx-auto ">
            
            <button class="navbar-toggler bg-light ms-2" bg-info"" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                Menu <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse show " id="navbarTogglerDemo01"> <!-- remember to remove the 'show' mixin -->
                <div class="d-grid gap-2 d-lg-flex col mx-auto ms-2">
                  <!-- show modal -->
                  <button type="button" id="showModal" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#weightModalAdd">
                    Record Weight
                </button>
                <a class="btn btn-light" href="{% url 'home' %}">View All</a>
                
                
                  <div class="dropdown">
                      <div class="d-grid gap-2 d-lg-flex col mx-auto ">
                      <a class="btn btn btn-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }} <i class="bi bi-caret-down-square mb-1"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'user_profile' request.user.pk %}">View Profile</a> </li>
                        <li><a class="dropdown-item" href="{% url 'user_change_profile' user.pk %}">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a> </li>
                        {% if user.is_staff %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                
                </div>
                
              </div>
            
          </div>
          {% endif %}
            
          
        </div>
        
      </nav>
      
    {% block content %}
    {% endblock content %}
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    

    <script>
      // source: https://stackoverflow.com/a/13952727/22203195
      function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode != 46 &&(charCode < 48 || charCode > 57)))
          return false;
        return true;
      }
    </script>
    
  
  <!-- Modal -->
{#  <div class="modal fade" id="weightModalAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> #}
  <div class="modal fade" id="weightModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="liveAlertPlaceholder"></div>
    <div class="modal-dialog">
      
      <div class="modal-content">
        
        <div class="modal-header">
          
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Record Weight</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="myForm" action="" method="post">
          {% csrf_token %}
        <div class="modal-body">
          
            {{ form|crispy }}
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="postButton" class="btn btn-primary">POST</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
