{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>{% block title %}Fitness{% endblock title %}</title>
    <!-- bootstrap5 stuff -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg my-2 bg-secondary rounded sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand bg-primary opacity-75 m-1 p-1 rounded" href="{% url 'home' %}"><img class="img-thumbnail" style="height: 45px;" src="https://i.imgur.com/m91WSGf.png" alt=""></a>
          
          {% if user.is_authenticated %}
          <div class="d-grid gap-2 col mx-auto ">
            
            <button class="navbar-toggler bg-light ms-2" bg-info"" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                Menu <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse show " id="navbarTogglerDemo01"> <!-- remember to remove the 'show' mixin -->
                <div class="d-grid gap-2 d-lg-flex col mx-auto ms-2">
                  <!-- show modal -->
                  <button type="button" id="showModal" class="btn btn-success border border-dark " data-bs-toggle="modal" data-bs-target="#weightModalAdd">
                    <i class="bi bi-plus-circle"></i> Record Weight <i class="bi bi-pencil-square"></i>
                </button>
                <!-- <a class="btn btn-light border border-dark" href="{% url 'home' %}">View All</a> -->
                
                
                  <div class="dropdown">
                      <div class="d-grid gap-2 d-lg-flex col mx-auto ">
                      <a class="btn btn btn-light border border-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }} <i class="bi bi-caret-down-square mb-1"></i>
                      </a>
                      <!-- <button class="btn btn-primary" type="submit">Button</button> -->
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "weight_entry_list" %}">View All Weight Entries</a></li>
                        <li><a class="dropdown-item" href="{% url 'user_profile' request.user.pk %}">View Your Profile</a> </li>
                        <li><a class="dropdown-item" href="{% url 'user_change_profile' user.pk %}">Edit Your Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a> </li>
                        {% if user.is_staff %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                  
                </div>
                <div class="d-grid gap-2 d-lg-flex justify-content-center mt-2">
                  {% block navtabs %}
                  {% endblock navtabs %}
                </div>
                
              </div>
            
          </div>
          {% else %}
          <div>
            <a href="{% url "login" %}" class="btn btn-primary border border-dark">Login</a>
          </div>
          {% block navtabs1 %}
                  {% endblock navtabs1 %}
          {% endif %}
            
          
        </div>
        
      </nav>
      <div id="liveAlertPlaceholderTemplate"></div>
    {% block content %}
    {% endblock content %}
    
    
<script>
// this is technically working. The logic is here. Now need to add better error message, or to immediately show modal.
// update: it now shows the modal. still need to prevent a form submission if invalid.
$(document).ready(function() {

  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
  const popover = new bootstrap.Popover('.popover-dismiss', {
  trigger: 'focus'
});
    
    var invalid = document.getElementById("error_1_id_weight"); 
    var showModal = document.getElementById("showModal");
    const alertPlaceholderTemplate = document.getElementById('liveAlertPlaceholderTemplate')
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
    if (invalid !=null) {
        const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-danger alert-dismissible" role="alert">`,
                `   <div>Something went wrong, please try to record your weight entry again, or reload the page.</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('')
            alertPlaceholder.append(wrapper)
            alertPlaceholderTemplate.append(wrapper)
        
        showModal.click();
    } 
});
</script>

    <script>
      // source: https://stackoverflow.com/a/13952727/22203195
      function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode != 46 &&(charCode < 48 || charCode > 57)))
          return false;
        return true;
      }
    </script>
    
  <script>


          
 $(document).ready(function() {
  
  const wrapper = document.createElement('label')
              wrapper.setAttribute("for", "id_weight")
              wrapper.setAttribute("id", "weightInputID")
          
  

  let modalBody = $("#modalBody");
  
  let weightDiv = modalBody.find("#div_id_weight");
  let weightLabel = weightDiv.find(".form-label");
  let weightInput = weightDiv.find("#id_weight");
  
  weightInput.attr("placeholder", "weight")
  weightDiv.removeClass("mb-3");
  weightDiv.addClass("form-floating mb-3");
  weightLabel.remove();
  weightDiv.append(wrapper)
  let wrapperText = $("#weightInputID")
  wrapperText.text("Weight");



  let noteDiv = modalBody.find("#div_id_note");
  let noteTextarea = noteDiv.find("#id_note");
  // $("#div_id_note").html("<h1>TESTSET</h1>")
  $("#div_id_note").replaceWith('<div id="div_id_note_area" class="my-3">\
    <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">\
      <label for="id_note" class="form-label"><button class="btn btn-outline-secondary btn-sm">Note <i class="bi bi-caret-down-square mb-1"></i></button></label></a>\
      <span class="form-text"> Optional: Add a note for this entry.</span>\
    <div class="collapse" id="collapseExample">\
      <textarea name="note" cols="40" rows="5" class="textarea form-control" id="id_note" placeholder="Weight Entry Note" ></textarea>\
    </div>\
        <div id="hint_id_note" class="form-text"></div>');

    $("#id_note").val('{{weightentry.note|escapejs}}');
    $("#id_weight").attr("id", "id_weight_2");
    $("#id_weight").val("");
  
});
  </script>

<script>

  // second form modification:
  $(document).ready(function() {
    let modalBody = $("#modalBody");

    let noteDiv = modalBody.find("#div_id_note");
    let noteTextarea = noteDiv.find("#id_note_area");
    let weightDiv2 = modalBody.find("#div_id_weight");
    let weightInput2 = weightDiv2.find("#id_weight");

    





// $("#div_id_note").html("<h1>TESTSET</h1>")
$("#div_id_note").replaceWith('<div id="div_id_note_area" class="my-3">\
  <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">\
    <label for="id_note" class="form-label"><button class="btn btn-outline-secondary btn-sm">Note <i class="bi bi-caret-down-square mb-1"></i></button></label></a>\
    <span class="form-text"> Optional: Add a note for this entry.</span>\
  <div class="collapse" id="collapseExample">\
    <textarea name="note" cols="40" rows="5" class="textarea form-control" id="id_note_2" placeholder="Weight Entry Note"></textarea>\
  </div>\
      <div id="hint_id_note" class="form-text"></div>');

      $("#id_note_2").val();
});

  
</script>

  
  
  
  <!-- Modal -->
{#  <div class="modal fade" id="weightModalAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> #}
  <div class="modal fade" id="weightModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="liveAlertPlaceholder"></div>
    <div class="modal-dialog">
      
      <div class="modal-content">
        
        <div class="modal-header">
          
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Record Weight</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {{ form.media }}
        <form id="myForm" action="{% url 'home' %}" method="post">
          {% csrf_token %}
        <div class="modal-body" id="modalBody">
          
            
            {% if form1 %}
            {{ form1|crispy }}
            {% elif form2 %}
            {{ form2|crispy }}
            {% else %}
            {{ form|crispy }}
            {% endif %}
              
            

            </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary border border-dark" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="postButton" class="btn btn-success border border-dark"><i class="bi bi-journal-plus"></i> Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
