{% extends 'base.html' %}
{% load range_filter %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script>
// this is technically working. The logic is here. Now need to add better error message, or to immediately show modal.
// update: it now shows the modal. still need to prevent a form submission if invalid.
$(document).ready(function() {
    var error = document.getElementById("errorField");
    var invalid = document.getElementById("error_1_id_weight");
    var showModal = document.getElementById("showModal");
    if (invalid !=null) {
        
        error.textContent = "Something went wrong, please try to record your weight entry again, or reload the page."
        showModal.click();
    } else {
        error.textContent = ""
    }
});
</script>
    
<p id="weight_p">weight: {{weight}}</p>
<p>recorded: {{recorded}}</p>
<p id="errorField"></p>

{% for entry in weight_entry_list|dictsortreversed:"created" %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{entry.weight}}lbs </h5>
            <p>{{entry.recorded}}</p>
            <p>by <span class="fw-bold">{{entry.user}}</span></p>
            <a href="#" class="btn btn-primary">Button</a>
        </div>
    </div> 
{% endfor %}  
{% endblock content %}