{% extends 'base.html' %}
{% load range_filter %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script>
// this is technically working. The logic is here. Now need to add better error message, or to immediately show modal.
// update: it now shows the modal. still need to prevent a form submission if invalid.
$(document).ready(function() {
    
    var invalid = document.getElementById("error_1_id_weight");
    var showModal = document.getElementById("showModal");
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
    if (invalid !=null) {
        const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-danger alert-dismissible" role="alert">`,
                `   <div>Something went wrong, please try to record your weight entry again, or reload the page.</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('')
            alertPlaceholder.append(wrapper)
        
        showModal.click();
    } 
});
</script>
    
<!-- <p id="weight_p">weight: {{weight}}</p>
<p>recorded: {{recorded}}</p> -->

{% include "partials/_messages.html" %}


{% for entry in weight_entry_list|dictsortreversed:"created" %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{entry.weight}}lbs </h5>
            <p>{{entry.recorded}}</p>
            <p>by <span class="fw-bold">{{entry.user}}</span></p>
            
            {% if request.user == entry.user %}
            <a href="{% url "weight_entry_update" entry.pk %}" class="btn btn-primary">Edit Entry</a>
            {% endif %}
                
        </div>
    </div> 
{% endfor %}  
{% endblock content %}