{% extends 'base.html' %}
{% load range_filter %}

{% block content %}
{% include "partials/_messages.html" %}

<div class="row justify-content-md-start">

    <div class="col-sm-3 pb-2 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{weightentry.weight}}lbs </h5>
                <p>{{weightentry.recorded}}</p>
                <p>by <span class="fw-bold">{{weightentry.user}}</span></p>
                <p> Last Updated: {{weightentry.updated}} 
                    <br>
                    <small><small>Added to Log On: {{weightentry.created}}</small></small>
                </p>
                
                
                {% if request.user == weightentry.user %}
                <a href="{% url "weight_entry_update" weightentry.pk %}" class="btn btn-primary">Edit Entry</a>
                <a href="{% url "weight_entry_delete" weightentry.pk %}" class="btn btn-danger border border-secondary">Delete Entry</a>
                {% endif %}
                    
            </div>
            <div class="card-footer">
                <p style="white-space: pre-line">{{weightentry.note}}</p>
            </div>
        </div> 
    </div>

</div>
{% endblock content %}

